.result {
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 2px solid rgb(14, 14, 202);
    border-bottom: 2px solid rgb(14, 14, 202);
    text-align: center;
    
}

.result h3, .result h4 {
    font-weight: medium;
    
}

.result em {
    font-weight: bold;
}